GB10_BASE=op://<VAULT>/<ITEM>/<GB10_BASE_FIELD>
BLACKWELL_BASE=op://<VAULT>/<ITEM>/<BLACKWELL_BASE_FIELD>
LITELLM_MASTER_KEY=op://<VAULT>/<ITEM>/<MASTER_KEY_FIELD>
LITELLM_VIRTUAL_KEY=op://<VAULT>/<ITEM>/<VIRTUAL_KEY_FIELD>
